/*mobile view*/
@media (min-width:320px){
.col-1{
	width:20%;
	padding: 25px 10px;
}
.col-2{
	width:80%;
}	
.col-3{
	width:100%;
}

}

/*tab view*/
@media (min-width:720px){
.col-1{
	width:30%;
	padding:5rem;
}
.col-2{
	width:70%;
}	
.col-3{
	width:100%;
}

}



/* desktop view */
@media (min-width:960px){
.col-1{
	width:15%;
	padding:5rem ;
}
.col-2, .col-3{
	width:35%;
}
}